# data and results
data/
data_aux/
data_proc/
data_ref/
results/
tmp/
README.json
*.code-workspace

# Python and Jupyter
__pycache__/
.ipynb_checkpoints

# macOS and Windows files
.DS_Store
._*
.thumbs.db